{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% load static %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}

<div class="site-navbar bg-white py-2 position-relative">

    {% include 'nav.html' %}

</div>

<div class="site-section">
    <div class="container">
    <div class="row mb-5">
        <div class="col-md-12">
        <div class="border p-4 rounded" role="alert">
            {% trans "Confirm E-mail Address" %}
        </div>
        </div>
    </div> 

    <div class="row">
        <div class="col-md-12 mb-5 mb-md-0">
        <div class="p-3 p-lg-5 border" >
            {% if confirmation %}

            {% user_display confirmation.email_address.user as user_display %}
            <div class="card mb-3">
                <div class="card-body">
                    {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                        <button class="btn btn-primary btn-sm px-4" type="submit">{% trans 'Confirm' %}</button>
                    </form>
                </div>
            </div>

            {% else %}

            {% url 'account_email' as email_url %}
            <div class="card">
                <div class="card-body">
                    {% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}
                </div>
            </div>

            {% endif %}

        </div>
        
        </div>
        
        

    </div>
    </div>
    </div>




{% endblock %}
