{% extends 'base.html' %}

{% load static %}

{% block content %}

    <style>
      #mapid { height: 100vh; width: 100%;} 

      .list-group{
          max-height: 200px;
          margin-bottom: 10px;
          overflow:scroll;
          -webkit-overflow-scrolling: touch;
      }
    </style>
  

    <div class="site-navbar bg-white py-2">

      {% comment %} {% include 'nav.html' %} {% endcomment %}
      
    </div>

    <div class="site-blocks-cover" data-aos="fade">
      <div class="container-fluid">

        <div class="row align-items-center">
          
          

          <div class="col-lg-5 col-xs-12 text-center">
            <div class="featured-hero-product w-100">
              <h1 class="mb-2">Mally</h1>
              <h4>Shop from your nearest store</h4>
              {% comment %} <div class="price mt-3 mb-5"><strong>1,499</strong> <del>$1,999</del></div> {% endcomment %}

              {% comment %} 
              <form class="mt-5"> 
                <div class="form-group col-6 offset-3">
                  <input type="text" class="form-control" id="cityInput" aria-describedby="cityHelp" placeholder="Enter email">
                  <small id="cityHelp" class="form-text text-muted">City.</small>
                </div>
                <div class="form-group col-6 offset-3">
                  <input type="text" class="form-control" id="areaInput" placeholder="What area are you in?">
                  <ul class="list-group overflow-auto">
                    <li class="list-group-item">Cras justo odio</li>
                  </ul>
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
               {% endcomment %}
              <p><form method="POST">{% csrf_token %}<button id="btnLocate" type="submit" class="btn btn-outline-primary rounded-0">locate stores</button></form>
              </p>
              <p id = "status"></p>
              <a id = "map-link" target="_blank"></a>
              <p id = "demo"></p>
              
            </div>  
          </div>

          <div class="col-lg-7 col-xs-12 align-self-end text-center text-lg-right">
            {% comment %} <img src="{% static 'images/new/person_transparent.png' %}" alt="Image" class="img-fluid img-1"> {% endcomment %}
            <div id="mapid"></div>
          </div>
          
        </div>
      </div>
      
    </div>

    {% comment %}
    <div class="products-wrap border-top-0">
      <div class="container-fluid">
        <div class="row no-gutters products">
          <div class="col-6 col-md-6 col-lg-4">
            <a href="#" class="item">
              <img src="{% static 'images/product_1.jpg' %}" alt="Image" class="img-fluid">
              <div class="item-info">
                <h3>The Shoe</h3>
                <span class="collection d-block">Summer Collection</span>
                <strong class="price">$9.50</strong>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-4">
            <a href="#" class="item">
              <span class="tag">Sale</span>
              <img src="{% static 'images/product_2.jpg' %}" alt="Image" class="img-fluid">
              <div class="item-info">
                <h3>Marc Jacobs Bag</h3>
                <span class="collection d-block">Summer Collection</span>
                <strong class="price">$9.50 <del>$30.00</del></strong>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-4">
            <a href="#" class="item">
              <img src="{% static 'images/product_3.jpg' %}" alt="Image" class="img-fluid">
              <div class="item-info">
                <h3>The  Belt</h3>
                <span class="collection d-block">Summer Collection</span>
                <strong class="price">$9.50</strong>
              </div>
            </a>
          </div>

          <div class="col-6 col-md-6 col-lg-4">
            <a href="#" class="item">
              <img src="{% static 'images/product_1.jpg' %}" alt="Image" class="img-fluid">
              <div class="item-info">
                <h3>The Shoe</h3>
                <span class="collection d-block">Summer Collection</span>
                <strong class="price">$9.50</strong>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-4">
            <a href="#" class="item">
              <span class="tag">Sale</span>
              <img src="{% static 'images/product_2.jpg' %}" alt="Image" class="img-fluid">
              <div class="item-info">
                <h3>Marc Jacobs Bag</h3>
                <span class="collection d-block">Summer Collection</span>
                <strong class="price">$9.50 <del>$30.00</del></strong>
              </div>
            </a>
          </div>
          <div class="col-6 col-md-6 col-lg-4">
            <a href="#" class="item">
              <img src="{% static 'images/product_3.jpg' %}" alt="Image" class="img-fluid">
              <div class="item-info">
                <h3>The  Belt</h3>
                <span class="collection d-block">Summer Collection</span>
                <strong class="price">$9.50</strong>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
    
    <div class="site-blocks-cover inner-page py-5"  data-aos="fade">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 ml-auto order-lg-2 align-self-start">
            <div class="site-block-cover-content">
            <h2 class="sub-title">#New Summer Collection 2019</h2>
            <h1>Jacket</h1>
            <p><a href="#" class="btn btn-black rounded-0">Shop Now</a></p>
            </div>
          </div>
          <div class="col-lg-8 order-1 align-self-end">
            <img src="{% static 'images/model_woman_1.png' %}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h2 class="text-uppercase">Collections</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 block-3 products-wrap">
            <div class="nonloop-block-3 owl-carousel">
              
              <div class="product">
                <a href="#" class="item">
                  <img src="{% static 'images/product_1.jpg' %}" alt="Image" class="img-fluid">
                  <div class="item-info">
                    <h3>The Shoe</h3>
                    <span class="collection d-block">Summer Collection</span>
                    <strong class="price">$9.50</strong>
                  </div>
                </a>
              </div>

              <div class="product">
                <a href="#" class="item">
                  <span class="tag">Sale</span>
                  <img src="{% static 'images/product_2.jpg' %}" alt="Image" class="img-fluid">
                  <div class="item-info">
                    <h3>Marc Jacobs Bag</h3>
                    <span class="collection d-block">Summer Collection</span>
                    <strong class="price">$9.50 <del>$30.00</del></strong>
                  </div>
                </a>
              </div>

              <div class="product">
                <a href="#" class="item">
                  <img src="{% static 'images/product_3.jpg' %}" alt="Image" class="img-fluid">
                  <div class="item-info">
                    <h3>The  Belt</h3>
                    <span class="collection d-block">Summer Collection</span>
                    <strong class="price">$9.50</strong>
                  </div>
                </a>
              </div>

              <div class="product">
                <a href="#" class="item">
                  <img src="{% static 'images/product_1.jpg' %}" alt="Image" class="img-fluid">
                  <div class="item-info">
                    <h3>The Shoe</h3>
                    <span class="collection d-block">Summer Collection</span>
                    <strong class="price">$9.50</strong>
                  </div>
                </a>
              </div>

              <div class="product">
                <a href="#" class="item">
                  <span class="tag">Sale</span>
                  <img src="{% static 'images/product_2.jpg' %}" alt="Image" class="img-fluid">
                  <div class="item-info">
                    <h3>Marc Jacobs Bag</h3>
                    <span class="collection d-block">Summer Collection</span>
                    <strong class="price">$9.50 <del>$30.00</del></strong>
                  </div>
                </a>
              </div>

              <div class="product">
                <a href="#" class="item">
                  <img src="{% static 'images/product_3.jpg' %}" alt="Image" class="img-fluid">
                  <div class="item-info">
                    <h3>The  Belt</h3>
                    <span class="collection d-block">Summer Collection</span>
                    <strong class="price">$9.50</strong>
                  </div>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-blocks-cover inner-page py-5"  data-aos="fade">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 ml-auto order-lg-2 align-self-start">
            <div class="site-block-cover-content">
            <h2 class="sub-title">#New Summer Collection 2019</h2>
            <h1>New Denim Coat</h1>
            <p><a href="#" class="btn btn-black rounded-0">Shop Now</a></p>
            </div>
          </div>
          <div class="col-lg-6 order-1 align-self-end">
            <img src="{% static 'images/model_5.png' %}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    {% endcomment %}

  <script>

    const getLocationBtn = document.querySelector('#btnLocate');

    // function loadDoc(e) {
    //   e.preventDefault();
    //   var xhttp = new XMLHttpRequest();
    //   var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    //   xhttp.onreadystatechange = function() {
    //     if (this.readyState == 4 && this.status == 200) {
    //       document.getElementById("demo").innerHTML =
    //       this.responseText;
    //     }
    //   };
    //   xhttp.open("POST", "stores/name/", true);
    //   xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    //   xhttp.send("name=1&csrfmiddlewaretoken="+csrftoken);
    // }

    // getLocationBtn.addEventListener('click', loadDoc);

    const mymap = L.map('mapid', {
        center: [0.3177137, 32.5813539], // kla
        zoom: 13,
        zoomControl: true
    });
    
    
    function geoFindMe(e) {

      e.preventDefault();

      const status = document.querySelector('#status');
      const mapLink = document.querySelector('#map-link');

      mapLink.href = '';
      mapLink.textContent = '';

      var lat;
      var long;

      var geoOptions = {
        enableHighAccuracy: true
      }

      function success(position) {
        const latitude  = position.coords.latitude;
        const longitude = position.coords.longitude;

        let myLocationIcon = new L.Icon({
          iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
          shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });

        L.marker([latitude, longitude], {icon: myLocationIcon}).addTo(mymap);

        var xhttp = new XMLHttpRequest();
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            const myArr = JSON.parse(this.responseText);
            console.log(Array.isArray(myArr));
            
            document.getElementById("demo").innerHTML = '';
            myArr.forEach((item, index) => {
              L.marker([item.latitude, item.longitude]).addTo(mymap).bindPopup(`<a href="/shop">${item.name} - ${item.distance} KM </a>`).openPopup();
            });
            
          }
        };

        xhttp.open("POST", "stores/", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send(`lat=${latitude}&long=${longitude}&csrfmiddlewaretoken=${csrftoken}`);

        status.textContent = '';
        {% comment %} mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`; {% endcomment %}
        {% comment %} mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`; {% endcomment %}
      }

      function error() {
        status.textContent = 'Unable to retrieve your location';
      }

      if (!navigator.geolocation) {
        status.textContent = 'Geolocation is not supported by your browser';
      } else {
        status.textContent = 'Locating…';
        navigator.geolocation.getCurrentPosition(success, error, geoOptions);
      }

      
      

      }

      getLocationBtn.addEventListener('click', geoFindMe);

      const access_token = 'pk.eyJ1Ijoic3R1ZSIsImEiOiJjanpzZ3hjdnExOW8wM2RvMGc1c2cyMXVyIn0.8DMP1OgiHAaqk3TT3vkRAQ';

      {% comment %} var mymap = L.map('mapid').setView(['0.31700000166893005', '32.58300018310547'], 13); {% endcomment %}
      
       
      // L.marker(['0.3489994', '32.6168740']).addTo(mymap);
      // L.marker(['0.3096275', '32.5779528']).addTo(mymap);
       
      

      L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png?{foo}', {foo: 'bar', attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'}).addTo(mymap);


      {% comment %} L.tileLayer('https://api.tiles.mapbox.com/v4/mapbox.mapbox-streets-v8/1/0.31700000166893005/32.58300018310547.png?access_token=pk.eyJ1Ijoic3R1ZSIsImEiOiJjanpzZ3hjdnExOW8wM2RvMGc1c2cyMXVyIn0.8DMP1OgiHAaqk3TT3vkRAQ', {foo: 'bar', attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>', maxZoom: 18}).addTo(mymap); {% endcomment %}

      {% comment %} L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: access_token
      }).addTo(mymap); {% endcomment %}

  </script>
    
 
{% endblock content %}
