{% extends 'base.html' %}

{% load static %}

{% block content %}
  

    <div class="site-navbar bg-white py-2">

      {% include 'nav.html' %}
      
    </div>

    <div class="site-blocks-cover" data-aos="fade">
      <div class="container">

        <div class="row align-items-center">
          <div class="col-lg-5 text-center">
            <div class="featured-hero-product w-100">
              <h1 class="mb-2">Madewell</h1>
              <h4>Locate your nearest store</h4>
              <div class="price mt-3 mb-5"><strong>1,499</strong> <del>$1,999</del></div>
              <p><form method="POST">{% csrf_token %}<button id="btnLocate" type="submit" class="btn btn-outline-primary rounded-0">Shop Now</button></form> </p>
              <p id = "status"></p>
              <a id = "map-link" target="_blank"></a>
              <p id = "demo"></p>
              {% if stores %}
              {% for store in stores %}
              <div class="border p-3 mb-3">
                <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapstore{{forloop.counter0}}" role="button" aria-expanded="false" aria-controls="collapstore{{forloop.counter0}}">{{ store.name }}</a></h3>
                <div class="collapse" id="collapstore{{forloop.counter0}}">
                  <div class="py-2">
                    <p class="mb-0">{{ store.distance }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% else %}
              <div class="border p-3 mb-3">
                <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsebank" role="button" aria-expanded="false" aria-controls="collapsebank">No stores near you</a></h3>
                <div class="collapse" id="collapsebank">
                  <div class="py-2">
                    <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>  
          </div>
          <div class="col-lg-7 align-self-end text-center text-lg-right">
            <img src="{% static 'images/new/person_transparent.png' %}" alt="Image" class="img-fluid img-1">
          </div>
          
        </div>
      </div>
      
    </div>

  
    

  <script>

    const getLocationBtn = document.querySelector('#btnLocate');

    // function loadDoc(e) {
    //   e.preventDefault();
    //   var xhttp = new XMLHttpRequest();
    //   var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    //   xhttp.onreadystatechange = function() {
    //     if (this.readyState == 4 && this.status == 200) {
    //       document.getElementById("demo").innerHTML =
    //       this.responseText;
    //     }
    //   };
    //   xhttp.open("POST", "stores/name/", true);
    //   xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    //   xhttp.send("name=1&csrfmiddlewaretoken="+csrftoken);
    // }

    // getLocationBtn.addEventListener('click', loadDoc);
    
    
    function geoFindMe(e) {

      e.preventDefault();

      const status = document.querySelector('#status');
      const mapLink = document.querySelector('#map-link');

      mapLink.href = '';
      mapLink.textContent = '';

      var lat;
      var long;

      function success(position) {
        const latitude  = position.coords.latitude;
        const longitude = position.coords.longitude;

        var xhttp = new XMLHttpRequest();
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("demo").innerHTML = this.responseText;
          }
        };

        xhttp.open("POST", "/", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send(`lat=${latitude}&long=${longitude}&csrfmiddlewaretoken=${csrftoken}`);

        status.textContent = '';
        mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
        mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;
      }

      function error() {
        status.textContent = 'Unable to retrieve your location';
      }

      if (!navigator.geolocation) {
        status.textContent = 'Geolocation is not supported by your browser';
      } else {
        status.textContent = 'Locating…';
        navigator.geolocation.getCurrentPosition(success, error);
      }

      
      

      }

      getLocationBtn.addEventListener('click', geoFindMe);

  </script>
    
 
{% endblock content %}
