{% load static %}

{% load cart_template_tags %}

<div class="search-wrap">
    <div class="container">
      <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
      <form action="#" method="post">
        <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
      </form>  
    </div>
  </div>

  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <div class="logo">
        <div class="site-logo">
          <a href="/" class="js-logo-clone">Mally</a>
        </div>
      </div>
      <div class="main-nav d-none d-lg-block">
        <nav class="site-navigation text-right text-md-center" role="navigation">
          <ul class="site-menu js-clone-nav d-none d-lg-block">
            {% comment %} <li class="has-children active">
              <a href="index.html">Collection</a>
              <ul class="dropdown">
                <li><a href="#">Men</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Children</a></li>
                <li class="has-children">
                  <a href="#">Sub Menu</a>
                  <ul class="dropdown">
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">Children</a></li>
                  </ul>
                </li>
              </ul>
            </li> {% endcomment %}
            
            <li><a href="/shop">Shop</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="icons">
        <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
        {% if request.user.is_authenticated %}
        
        <a href="#" class="icons-btn d-inline-block"><span class="icon-heart-o"></span></a>
        <a href="cart.html" class="icons-btn d-inline-block bag">
          <span class="icon-shopping-bag"></span>
          <span class="number">{{ request.user|cart_item_count }}</span>
        </a>
        <a href="{% url 'account_signup' %}" class="icons-btn d-inline-block"><span class="icon-heart-o"></span></a>

        {% else %}
        <a href="{% url 'account_login' %}" class="icons-btn d-inline-block"><span class="icon-heart-o"></span></a>
        <a href="{% url 'account_signup' %}" class="icons-btn d-inline-block"><span class="icon-heart-o"></span></a>

        {% endif %}
        <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
      </div>
    </div>
  </div>